.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
    
@font-face {
  font-family: 'iconfont';  /* project id 1015926 */
  src: url('//at.alicdn.com/t/font_1015926_ga5opl13jb.eot');
  src: url('//at.alicdn.com/t/font_1015926_ga5opl13jb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1015926_ga5opl13jb.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1015926_ga5opl13jb.woff') format('woff'),
  url('//at.alicdn.com/t/font_1015926_ga5opl13jb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1015926_ga5opl13jb.svg#iconfont') format('svg');
}